$borderColor : #05c9f1;
$background_title : #00d4ff;
$background_content:#dbf0f5;
$scrollThumb:#00d4ff;;
$scrollThumb_hover :  #555;
$borderColorBlack : #2d2e2e;
$backgroundBlack_title : #2d2e2e;
$backgroundBlack_content: #4d5555;
$scrollThumbBlack:#2d2e2e;
$scrollThumbBlack_hover :  #555;
$backgroundBlack_button:#2d2e2e;
.pannel_black{
        background-color: black;
        width: 100%;
        height: auto;
        .title{
            width: 100%;
            height: auto;
            background: $backgroundBlack_title ;
            border-left: 5px $borderColorBlack solid;
            border-right: 5px $borderColorBlack solid;
            border-top: 5px $borderColorBlack solid;
            box-sizing: border-box;
            span{
                font-size: 1.2rem;
                color: white;
            }
        }
        .content{
            width: 100%;
            height: auto;
            background: $backgroundBlack_content;
            text-align: center;
            border-left: 5px $borderColorBlack solid;
            border-right: 5px $borderColorBlack solid;
            border-bottom: 5px $borderColorBlack solid;
            box-sizing: border-box;
    
            .button_control{
                width: 50px;
                height: 50px;
                margin: 5px;
                background: $backgroundBlack_button;
                cursor: pointer;
                border-radius: 10px;
                border: 2px white solid;
                color: white;
    
                &:active{
                    background-color: white;
                }
            }
            
        }
}

.pannel{
    background-color: black;
    width: 100%;
    height: auto;
    .title{
        width: 100%;
        height: auto;
        background: #00d4ff;
        border-left: 5px $borderColor solid;
        border-right: 5px $borderColor solid;
        border-top: 5px $borderColor solid;
        box-sizing: border-box;
        span{
            font-size: 1.2rem;
            color: white;
        }
    }
    .content{
        width: 100%;
        height: auto;
        background: #dbf0f5;
        text-align: center;
        border-left: 5px $borderColor solid;
        border-right: 5px $borderColor solid;
        border-bottom: 5px $borderColor solid;
        box-sizing: border-box;
        .button_control{
            width: 50px;
            height: 50px;
            margin: 5px;
            background: #00d4ff;
            cursor: pointer;
            border-radius: 10px;
            border: 2px white solid;
            color: white;

            &:active{
                background-color: white;
            }
        }
        
    }
}