
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    gap: 15px;
}

.row_center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
}



.col_6{
    width:calc(100% / 2);
    height: auto;
}

.col_4{
    width:calc(100% / 3);
    height: auto;
 
}

.col_3{
    width:calc(100% / 4);
    height: auto;
}
.col{
    width: auto;
    height: auto;
}



