.content{
    width: 100%;
    height: auto;
}

.pd_5{
    padding-left: 1.5rem;
}

.property{
    color: #4141e8;
}


.value {
    color: #5fe7a3;
}
.bt_coppy_clipboard{
    height: 50%;
    width: 100%;
    cursor: pointer;
    background: #00d4ff;
    border:  5px solid rgb(243, 237, 237);
    color: white;
    &:hover{
        background: rgb(0,212,255);
        background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(95,231,163,1) 35%, rgba(127,179,191,1) 100%);
    }
    &:active{
        background: rgb(80,132,143);
        background: linear-gradient(90deg, rgba(80,132,143,1) 0%, rgba(43,84,64,1) 35%, rgba(35,41,42,1) 100%);
    }
}

.bt_coppy_clipboard_black{
    height: 50%;
    width: 100%;
    cursor: pointer;
    background: #4d5555;
    border:  1px solid rgb(243, 237, 237);
    color: white;
    &:hover{
        background:#4d5555;
        background: linear-gradient(90deg, rgba(77,85,85,1) 0%, rgba(15,19,17,1) 35%, rgba(17,18,18,1) 100%);
    }
    &:active{
        background: rgb(80,132,143);
        background: linear-gradient(90deg, rgba(80,132,143,1) 0%, rgba(43,84,64,1) 35%, rgba(35,41,42,1) 100%);
    }
}

.col_12{
    width: 100%;
    height: auto;
}
    